<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <div class="footer-title" style="font-size: 10px;">
            &copy; 2021 AVENTER UG (haftungsbeschränkt). <br>
            &copy; 2012-2020 The Apache Software Foundation. Apache Mesos, the Apache feather logo, <br>
            and the Apache Mesos project logo are trademarks of The Apache Software Foundation.
          </div>
          <ul class="footer-menu">
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/about/#contact">Contact</a></li>
            <li><a href="{{site.baseurl}}/imprint/">Imprint</a></li>
            <li class="copyright">© {{site.title}} {{site.time | date:'%Y'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
