<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="http://mesos.apache.org/documentation/latest/" class="{% if page.url == '/' %}current{% endif %}">Documentation</a></li>     
    <li><a href="http://mesos.apache.org/community" class="{% if page.url == '/' %}current{% endif %}">Community</a></li>     
    <li><a href="https://issues.apache.org/jira/projects/MESOS/issues/MESOS-10146?filter=allopenissues" class="{% if page.url == '/' %}current{% endif %}">Issues</a></li>     
  </ul>
</div>
