    <h5>Bereiche</h5>
    <ul>
        <li><a href="/text/press/">Neuigkeiten zu uns</a></li>
        <li><a href="/newsarcaos/">Neuigkeiten zu ArcaOS</a></li>
        <li><a href="/text/microservices/">Apache Mesos und Microservices</a></li>
        <li><a href="/text/software/">Software und Software Entwicklung</a></li>
        <li><a href="/text/iot/">Lora IoT</a></li>
        <li><a href="/text/legacy/">ArcaOS und Legacy Systeme</a></li>
        <li><a href="/text/misc/">Verschiedenes</a></li>
    </ul>
