<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular/angular.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular/material-components-web.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular/angular-material.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular/angular-popover.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular/angular-aria.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular/angular-local-storage.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular/angular-sanitize.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular/app.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular/feed.service.js"></script>
