  <li>
    <a rel="me" class="fa fa-mastodon" href="{{ site.data.social.mastodon }}" target="blank"></a>
  </li>
  <li>
    <a rel="me" class="fa fa-twitter" href="{{ site.data.social.twitter }}" target="blank"></a>
  </li>
  <li>
    <a rel="me" class="fa fa-youtube" href="{{ site.data.social.youtube }}" target="blank"></a>
  </li>
  <li>
      <a rel="me" class="fa fa-peertube" href="{{ site.data.social.peertube }}" target="blank"></a>
  </li>
  <li>
    <a class="fa fa-github" href="{{ site.data.social.github }}" target="blank"></a>
  </li>
  <li>
      <a class="fa fa-git" href="{{ site.data.social.git }}" target="blank"></a>
  </li>
