<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <li><strong>Phone: </strong>{{ site.data.contact.phone }} *</li>
            <li><strong>Voice Chat:</strong> <a href="{{ site.data.contact.voip }}" target="_blank">mumble.aventer.biz</a></li>
            <li><strong>Email: </strong><a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }} *</a></li>
            {% include social.html %}
            <li>* The use of the contact details for advertising purposes is prohibited. </li>
          </ul>
          <ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
