
  <section id="support">
    <div class="row">
      <div class="col-12 col-md-5 mb-2">
        <img src="/assets/images/support.png" style="width:90%">
      </div>
      <div class="col-12 col-md-6 mb-2">
        <div class="support-text background-secondary shadow">
          <div class="support-headline" style="margin-bottom: 30px;"><h1>Fragen?</h1></div>
          Sie haben Fragen zu unseren Dienstleistungen, benötigen eine maßgeschneiderte Lösung für Ihre Anforderung oder brauchen Remote Unterstützung bei Linux und OS/2?
          Um was es auch geht, wir stehen Ihnen montags bis freitags zwischen 9 und 18 Uhr per E-Mail und Chat tatkräftig zur Seite und freuen uns auf Ihre Anfrage!

          <div style="height: 60px;"></div>

          {% include contact.html %}             
        </div>        
      </div>          
    </div>
  </section>